
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
#username_or_email{
  width: 50%;
  margin:auto;
}

.user_details{
  text-align: end;
  padding-right: 20px;
  
}